@use '../../../../base' as *;

.app-article {
  padding-top: var(--space-xl);

  h1, // don't use in page content
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
    font-weight: 600;
    text-transform: none;
    letter-spacing: -0.5px;
    margin-top: 48px;
  }

  a {
    color: var(--color-black);
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &::after,
    &::before {
      bottom: 4px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      background-color: var(--color-black);
    }

    &::before {
      background-color: var(--color-accent);
      left: 100%;
    }

    &:hover {
      color: var(--color-accent-darker);

      &::after {
        right: 100%;
      }

      &::before {
        left: 0;
      }
    }
  }

  .app-link__arrow {
    align-items: center;
    color: var(--color-white);
    display: flex;
    font-size: 16px; 
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
  
    .app-link__arrow-svg {
      align-items: center;
      display: flex;
      margin-right: var(--space-sm);
      position: relative;
      transition: all 0.2s ease-in-out;
      width: 25px;
      
      .line-bar {
        background-color: var(--color-accent);
        height: 2px;
        width: 98%;
      }
  
      svg {
        fill: var(--color-accent);
        height: 20px;
        position: absolute;
        right: 0;
        width: 11px;
      }
    }
  
    &:hover {
  
      .app-link__arrow-svg {
        width: 45px;
      }
    }
  
    &--dark {
      color: var(--color-black);
    }
  }

  h2,
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 1em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .app-article__content {

    &.app-article__service-single {
      background-color: var(--color-true-white);
    }

    .app-article__intro {
      text-align: center;
    }

    .app-content {

      &.app-content__main {
        padding-right: var(--space-lg);
      }
    }

    .app-aside {

      h2 {
        font-size: .875rem;
        position: relative;

        &::before {

        }
      }

      &.app-content__main-aside,
      &.app-content__testimonial-aside {
        border-left: 1px solid var(--color-white);
        padding-left: var(--space-lg);

        ul {
          margin-bottom: var(--space-lg);

          li {
      
            a {
              font-size: 14px;
              line-height: 1.4;
              padding-bottom: 10px;
              padding-top: 7px;

              &:hover {
                padding-left: 0;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.app-content__testimonial-aside {
        border-color: var(--color-brand-dark-light);
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .app-container {

          h1, // don't use in page content
          h2,
          h3,
          h4,
          h5,
          h6 {
            color: var(--color-white);
          }

          ul {
            margin-bottom: 0;

            li {
        
              a {
                color: var(--color-white);

                &:hover {
                  color: var(--color-accent);
                }
              }
            }
          }
        }

        .app-aside__actions {
        }
      }
    }

    h2 {
      font-size: 26px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    h3,
    h4,
    h5 {
      font-size: 22px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin-top: 24px;
    }
  }
}