@use '../base' as *;

/* -------------------------------- 

File#: _1_customer-logos
Title: Customer Logos
Descr: A gallery of trusted companies
Usage: codyhouse.co/license

-------------------------------- */

.customer-logo {
  display: block;
  fill: var(--color-contrast-low); // logo color
}